.card-main{
    background-color: rgb(247, 247, 247);
    border-style: solid;
    border: 3px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    left: 140px;
}
.images{
    background-color: rgb(253, 253, 253);
    width: 250px;
    height: 140px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.topg{
    padding-left: 100px;
    padding-top: 20px;
    text-align: center;
}

.prod-buttons{
    padding-left: 46%;
}

.discount{
    justify-items: end;
}

#button1{
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

#button2{
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}