#button1{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(243, 143, 12);
    margin-top: 10px;
    justify-content: center;
}
#button1:hover{
    background-color: rgb(248, 195, 125);
}


#button2{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(13, 160, 245);
    margin-top: 10px;
}
#button2:hover{
    background-color: rgb(114, 198, 247);
}

.selectprod{
    background-color: linear-gradient(rgb(238, 138, 39),rgb(243, 87, 87));
    margin-top: 20px;
}

.card-prod{
    top: "0px";
}